.conversor {
  max-width: 500x;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.conversor h2 {
  color: #000000;
  margin-bottom: 1.5rem;
}

.conversor input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

.conversor button {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 6px;
  background: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.conversor button:hover {
  background: #0056b3;
}

.resultado-container {
  margin-top: 1.5rem;
  padding: 15px;
  background: #f8f9fa;
  border-radius: 6px;
}

.resultado-container label {
  color: #28a745;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
    font-size: 1.5rem;
}

.resultado-label {
  color: #28a745;
  font-weight: bold;
  font-size: 1.5rem;
}